body {
}


@media print {
    html, body {
        display: none; /* hide whole page */
    }
}


.LoadingDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0.8;
    background-image: url('../images/load.gif');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 999999;
}





.form-control-position {
    text-align: right !important;
    margin-top: -25px !important;
    margin-right: 10px !important;
}


.btn.btn-icon, .navbar .navbar-nav > a.btn.btn-icon {
    height: 2rem !important;
    min-width: 2rem !important;
    width: 2rem !important;
    font-size: .90rem !important;
}


.material-icons {
    font-size: 11px
}

.form-group .form-control, .input-group .form-control:not(.loginform) {
    padding: 6px 6px 6px 6px !important;
    font-size: 11px !important;
}

.form-control:not(.loginform) {
    border-radius: 5px !important;
}

.table td, .table th {
    padding: 5px 5px !important;
    font-size: 11px !important;
}


.nav-tabs > .nav-item > .nav-link.active {
    border: 1px solid #888;
    border-radius: 10px !important;
}

.nav-tabs > .nav-item > .nav-link {
    border-radius: 10px !important;
    font-size: 11px !important;
}

.breadcrumb {
    padding: .5rem 1rem;
}

.block-header {
    padding: 10px;
}

html, body {
    font-family: 'Muli', sans-serif !important;
    font-size: 11px !important;
}


.sidebar {
    font-family: 'Muli', sans-serif !important;
}

    .sidebar .menu .list a {
        padding: 10px 10px !important;
    }


.nav-tabs {
    padding: 5px .7rem !important;
}

.btn-round:not(.loginform):not(.btn-icon) {
    border-width: 1px;
    padding: 5px 23px;
    border-radius: 5px !important;
}



.pagination .page-item .page-link {
    min-width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
}


.breadcrumb-item.active {
    margin-top: 5px !important;
}

.sidebar .menu .list .ml-menu li a:before {
    color: transparent !important;
}




.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}




.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}


.chatuserlist .odd {
    background-color: rgba(0,0,0,.05);
    padding: 10px 15px !important;
    cursor: pointer !important;
}

.chatuserlist .even {
    padding: 10px 15px !important;
    cursor: pointer !important;
}

.row-selected {
    background-color: #8c99e0 !important;
    font-weight: bold;
    color: #FFFFFF;
}



/*  Toggle Switch  */

.toggleSwitch span span {
    display: none;
}

@media only screen {
    .toggleSwitch {
        display: inline-block;
        height: 16px;
        position: relative;
        overflow: visible;
        padding: 0;
        cursor: pointer;
        width: 40px
    }

        .toggleSwitch * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .toggleSwitch label,
        .toggleSwitch > span {
            line-height: 20px;
            height: 20px;
            vertical-align: middle;
        }

        .toggleSwitch input:focus ~ a,
        .toggleSwitch input:focus + label {
            outline: none;
        }

        .toggleSwitch label {
            position: relative;
            z-index: 3;
            display: block;
            width: 100%;
        }

        .toggleSwitch input {
            position: absolute;
            opacity: 0;
            z-index: 5;
        }

        .toggleSwitch > span {
            position: absolute;
            left: -50px;
            width: 100%;
            margin: 0;
            padding-right: 50px;
            text-align: left;
            white-space: nowrap;
        }

            .toggleSwitch > span span {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                display: block;
                width: 50%;
                margin-left: 50px;
                text-align: left;
                font-size: 0.8em;
                width: 100%;
                left: 15%;
                top: -1px;
                opacity: 0;
            }

        .toggleSwitch a {
            position: absolute;
            right: 50%;
            z-index: 4;
            display: block;
            height: 100%;
            padding: 0;
            left: 2px;
            width: 18px;
            background-color: #fff;
            border: 1px solid #CCC;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        }

        .toggleSwitch > span span:first-of-type {
            color: #ccc;
            opacity: 1;
            left: 45%;
        }

        .toggleSwitch > span:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 52px;
            top: -2px;
            background-color: #fafafa;
            border: 1px solid #ccc;
            border-radius: 30px;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }

        .toggleSwitch input:checked ~ a {
            border-color: #fff;
            left: 100%;
            margin-left: -8px;
        }

        .toggleSwitch input:checked ~ span:before {
            border-color: #8c99e0;
            box-shadow: inset 0 0 0 30px #8c99e0;
        }

        .toggleSwitch input:checked ~ span span:first-of-type {
            opacity: 0;
        }

        .toggleSwitch input:checked ~ span span:last-of-type {
            opacity: 1;
            color: #fff;
        }
        /* Switch Sizes */
        .toggleSwitch.large {
            width: 70px;
            height: 20px;
        }

            .toggleSwitch.large a {
                width: 27px;
            }

            .toggleSwitch.large > span {
                height: 25px;
                line-height: 25px;
            }

            .toggleSwitch.large input:checked ~ a {
                left: 50px;
            }

            .toggleSwitch.large > span span {
                font-size: 11px;
            }

                .toggleSwitch.large > span span:first-of-type {
                    left: 50%;
                }

        .toggleSwitch.xlarge {
            width: 80px;
            height: 25px;
        }

            .toggleSwitch.xlarge a {
                width: 36px;
            }

            .toggleSwitch.xlarge > span {
                height: 38px;
                line-height: 37px;
            }

            .toggleSwitch.xlarge input:checked ~ a {
                left: 52px;
            }

            .toggleSwitch.xlarge > span span {
                font-size: 1.4em;
            }

                .toggleSwitch.xlarge > span span:first-of-type {
                    left: 50%;
                }
}













/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
*******************************/
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #FFFFFF;
    background-color: #8c99e0;
    border-color: #8c99e0;
}

.panel-title {
    font-size: 12px !important;
}

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

.more-less {
    float: right;
    color: #FFFFFF;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}


.bb.disabled .selection-productheading {
    /* color: dodgerblue; */
    color: #8f9295 !important;
}

.bb.disabled {
    /* color: dodgerblue; */
    opacity: 0.5 !important;
}

    .bb.disabled a {
        cursor: none;
    }

    .bb.disabled .selection-productheading::before {
        /*font-weight: bold;*/
        content: "Qual";
        color: #8f9295 !important;
    }

.productlistmain a.disabled {
    /* color: dodgerblue; */
    color: #8f9295 !important;
    background: #aeb6be47 !important;
}

.productlist a.disabled i {
    color: #8f9295 !important;
}

.productlist a.disabled span {
    color: #8f9295 !important;
}


.productlist a:not(.disabled) i {
    color: #000000;
}

.productlist a:not(.disabled) span {
    color: #000000;
}

.table .form-control {
    border: 1px solid #8b8585;
}

.radio, .checkbox {
    cursor: pointer;
}


.form-control-required {
    border: 1px solid #f96332 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #2c2c2c;
}

.detail .productheading {
    margin-left: 30px;
    vertical-align: middle;
    font-weight: bold;
}

    .detail .productheading:hover {
        color: #4056ca !important;
    }



.mainproduct.a:hover, a:focus {
    color: #0056b3 !important;
}


.selection-productheading {
    margin-left: 10px;
    vertical-align: middle;
    /*font-weight: bold;*/
    color: #f87015 !important;
    position: absolute;
}


    .selection-productheading::before {
        font-weight: bold;
        content: "Qual";
        color: #0056b3;
    }

    .footer{
        z-index:111 !important;
    }
